#intro {
    height: 100vh;
    background: radial-gradient(678.64px at 50% 50%, #9A9DA6 0%, #6C6E79 100%);
    z-index: 3;

    &::before {
        content: '';
        @extend %pos;
        top: 50%;
        background: url('../images/bg/bottom-bg.png') 50% 50% /cover no-repeat;
        z-index: -10;
    }

    &::after {
        content: '';
        @extend %pos;
        background: rgba($dark, .6);
        z-index: -12;
    }
}

.links-list {
    position: absolute;
    top: 80px;
    right: 15px;
    display: flex;
    align-items: center;

    @media (min-width: map_get($grid-breakpoints, sm)) {
        top: 40px;
        right: 40px;
    }

    li {
        margin-left: 15px;

        @media (min-width: map_get($grid-breakpoints, sm)) {
            margin-left: 30px;
        }

        a {
            font-size: 18px;
            color: #fff;
            font-weight: bold;
        }

        svg {
            fill: #fff;
            transition: .5s;
        }

        &:hover {

            svg {
                fill: $primary;
            }

            a {
                color: $primary;
            }
        }

        &:nth-child(2) {
            margin-left: 35px;

            @media (min-width: map_get($grid-breakpoints, sm)) {
                margin-left: 55px;
            }
        }
    }
}

.logo {
    display: block;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 40px;
    background: url('../images/icon/logo.png') 50% 50% /contain no-repeat;

    @media (min-width: map_get($grid-breakpoints, sm)) {
        top: 5%;
        width: 280px;
        height: 100px;
    }
}

.intro-item {
    position: relative;
    z-index: 5;
}