.form-group {
    position: relative;
    border-bottom: 2px solid rgba($secondary, 0.3);
    transition: .5s;

    &.in-focus {
        border-bottom: 2px solid rgba($secondary, 1);

        .label-placeholder {
            left: 0;
            bottom: 80%;
            font-size: 13px;
            color: $primary;
        }

        &::before {
            background: $primary;
            width: 100%;
        }
    }

    .label-placeholder {
        position: absolute;
        left: 0;
        bottom: 2px;
        color: #848794;
        cursor: pointer;
        z-index: 5;
        transition: .5s;
    }

    .form-control {
        padding: 10px 0;
        background: transparent;
        color: $dark;
        transition: .5s;
    }
}

.form-row {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: map_get($grid-breakpoints, md)) {
        flex-direction: row;
        justify-content: space-between;
    }

    .form-group {
        width: 100%;
        margin: 0 auto 30px;

        @media (min-width: map_get($grid-breakpoints, md)) {
            width: 30%;
            margin: 0;
        }
    }


}

.form-column {

    .form-group {
        width: 100%;
        margin-bottom: 25px;
    }

    &--min {
        max-width: 315px;
    }

    .btn {
        width: 100%;
    }
}