.custom-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 200%);
  width: 98%;
  max-width: 880px;
  border-radius: 10px;
  display: flex;
  background: #fff;
  border-radius: 10px;
  z-index: 800;
  transition: .5s;
  max-height: 100%;
  overflow-y: auto;

  @media (min-width: map_get($grid-breakpoints, sm)) {
    width: 100%;
  }

  &.active {
    transform: translate(-50%, -50%);
  }


  .close-modal {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 50;

    &:hover {

      .line {
        opacity: 1;
      }
    }

    .line {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 2px;
      background: $dark;
      opacity: .5;
      transition: .5s;

      &--left {
        transform: translate(-50%, -50%) rotate(-45deg);
      }

      &--right {
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
  }

  &-prev {
    position: relative;
    width: 40%;
    display: none;

    @media (min-width: map_get($grid-breakpoints, sm)) {
      display: block;
    }

    .img {
      @extend %pos;
      @extend %img;
    }

    .decor {
      @extend %pos;

      &-cloud {
        position: absolute;
        @extend %img;
        background-size: contain;

        &:nth-child(1) {
          bottom: 20px;
          left: 15px;
          width: 140px;
          height: 70px;
        }

        &:nth-child(2) {
          top: 40px;
          right: -30px;
          width: 170px;
          height: 100px;
        }
      }
    }
  }

  &-main {
    padding: 30px 15px;
    width: 100%;
    background: #fff;

    @media (min-width: map_get($grid-breakpoints, sm)) {
      padding: 70px 60px;
      width: 60%;
    }

    .title {
      color: $dark;
      margin-bottom: 40px;

      h2 {
        margin-bottom: 10px;
      }
    }
  }

}


.modal-mask {
  @extend %pos;
  position: fixed;
  bottom: 100%;
  background: rgba(#000, .8);
  z-index: 799;
  transition: .5s;

  &.active {
    bottom: 0;
  }
}